.login-form {
    width: 340px;
    margin: 50px auto;
}
.login {
    text-align: center;
}
.navbar-color {
    background-color: #29335C;
}
.navbar-text {
    color: #FBF5F3;
    font-size: 18px;
}
.navbar-text:hover {
    color: #B9FAF8;
}